<%= render 'partial/navbar' %>

<!-- 認証チェックマーク -->
<script type="text/javascript">
	$(function(){
		<% if !@user.email.blank? %>
			$("#ver-email").attr('class','vertification-checked');
		<% end %>

		<% if !@user.phone_number.blank? %>
			$("#ver-tel").attr('class','vertification-checked');
		<% end %>

		<% if @user.provider == "facebook" %>
			$("#ver-facebook").attr('class','vertification-checked');
		<% end %>
	});
</script>


<section>
	<div class="container">
		<div class="row content">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="profile-card">
					<div class="row">
                      <div class="col-md-4 col-xs-12 col-sm-5 col-lg-4">
	                      <div class="imagearea">
	                          <%= image_tag @user.image, class: "img-responsive profile-full img-circle" %>
	                      </div><!--imagearea-->
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-7 col-lg-8">
                          <div class="container name-line">
                            <h2><%= @user.name %></h2>
                          </div>
                          <div class="simple-info">
                          	<ul>
                          		<li><span class="glyphicon glyphicon-map-marker"></span><%= @user.nationality %></li>
                          		<li><span class="glyphicon glyphicon-briefcase"></span><%= @user.job %></li>
                          	</ul>
                          </div>
                      </div>
                  </div><!--row-->
				</div><!--profile-card-->
				<div class="profile-info panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title text-center">プロフィール情報</h3>
		            </div>
		            <div class="panel-body">
						<div class="profile-details">
							<table class="table table table-hover table-user-information">
			                    <tbody>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-pencil"></span>NAME</td>
			                        <td>:<%= @user.name %></td>
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-user"></span>GENDER</td>
			                        <td>:<%= @user.sex %></td>
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-th"></span>AGE</td>
							        <td>:<%= @user.age %>歳</td> 
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-map-marker"></span>COUNTRY</td>
							        <td>:<%= @user.nationality %></td>  
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-briefcase"></span>OCCUPATION</td>
							        <td>:<%= @user.job %></td>
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-phone"></span> MOBILE</td>
						            <td>:<%= @user.phone_number %></td> 
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-envelope"></span>EMAIL</td>
						            <td>:<%= @user.email %></td>
			                      </tr>
			                      <tr>
			                        <td><span class="glyphicon glyphicon-comment"></span>自己紹介</td>
						            <td>:<%= @user.description %></td>
			                      </tr>
			                    </tbody>
			                  </table>
						</div><!--profile-details-->
					</div><!--panel-body-->
				</div><!--profile-info-->
			</div><!--col-md-8 col-sm-8 col-xs-12-->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Panel heading</div>
				  <!-- List group -->
				  <ul class="list-group">
				    <li class="list-group-item">
						<%= link_to "プロフィール", user_path(current_user), class: "glyphicon glyphicon-home" %>
					</li>
					<li class="list-group-item">
						<%= link_to "プロフィール編集", edit_user_registration_path(current_user), class: "glyphicon glyphicon-user" %>
					</li>
					<li class="list-group-item">
						<%= link_to "リスティング作成", class: "glyphicon glyphicon-user" %>
					</li>
				  </ul>
				  <div class="verifications hidden-xs hidden-sm">
						<p><span class="glyphicon glyphicon-ok"></span>認証済みID</p>
						<ul>
							<li id="ver-email">メールアドレス</li>
							<li id="ver-tel">電話番号</li>
							<li id="ver-facebook">Facebook</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--row-->
	</div><!--container-->
</section><!--section close-->