<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="verticalnav panel-heading">Panel heading</div>
  <!-- List group -->
  <ul class="verticalnav list-group">
    <li class="<%= 'active' if controller?("listings") && action?("basics") %> list-group-item">
      <%= link_to "基本事項", manage_listing_basics_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("description") %> list-group-item">
      <%= link_to "リスティングの内容", manage_listing_description_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("address") %> list-group-item">
      <%= link_to "住所情報", manage_listing_address_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("price") %> list-group-item">
      <%= link_to "料金", manage_listing_price_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("photos") %> list-group-item">
      <%= link_to "写真", manage_listing_photos_path(@listing), "data-turbolinks": "false" %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("calendar") %> list-group-item">
      <%= link_to "カレンダー", manage_listing_calendar_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("bankaccount") %> list-group-item">
      <%= link_to "受取口座情報", manage_listing_bankaccount_path(@listing) %>
    </li>
    <li class="<%= "active" if controller?("listings") && action?("publish") %> list-group-item">
      <%= link_to "公開する", manage_listing_publish_path(@listing) %>
    </li>
  </ul>
</div>